<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>

  <connectionStrings>
    <add name="Default" connectionString="Server=pandoradev;Database=ibu_test;Trusted_Connection=True;"/>
  </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
